{% set totalPages = totalItems // page.size + (totalItems % page.size > 0 ? 1 : 0) %}
{% set isFirstPage = page.current == 1 %}
{% set isLastPage = page.current == totalPages %}

<div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6 mt-10">
    <div class="flex flex-1 justify-between sm:hidden">
        <a href="#" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 {% if isFirstPage %}opacity-50 cursor-not-allowed{% else %}hover:bg-gray-50{% endif %}">
            Previous
        </a>
        <a href="#" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 {% if isLastPage %}opacity-50 cursor-not-allowed{% else %}hover:bg-gray-50{% endif %}">
            Next
        </a>
    </div>

    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
        <div>
            <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                {% for index in range(1, totalPages) %}
                    {% set pageNumber = index %}
                    {% set queryParams = app.request.query.set('page[number]', pageNumber) %}
                    {% set routeParams = app.request.attributes.get('_route_params') %}
                    {% set queryParams = app.request.query.all() %}
                    {% set params = queryParams | merge(routeParams) %}
                    <a href="{{ path(app.request.attributes.get('_route'), params) }}" class="relative {% if pageNumber == page.current %}z-10 bg-indigo-600 text-white{% else %}text-gray-900{% endif %} inline-flex items-center px-4 py-2 text-sm font-semibold ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                        {{ pageNumber }}
                    </a>
                {% endfor %}
            </nav>
        </div>
    </div>
</div>
