<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block meta %}
    {% endblock %}

    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('root') }}
{% endblock %}
</body>
</html>
